@import "tailwindcss";
@import "tw-animate-css";

.pixel-art {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.border-primary {
  @apply border-white border-2;
}

.text-primary {
  @apply text-white;
}

/* Type colors */
.bug {
  @apply bg-[#8fbf2b];
}
.dark {
  @apply bg-[#5b5265];
}
.dragon {
  @apply bg-[#096dc3];
}
.electric {
  @apply bg-[#f4d23b];
}
.fairy {
  @apply bg-[#ec90e7];
}
.fighting {
  @apply bg-[#ce3f6b];
}
.fire {
  @apply bg-[#fe9c55];
}
.flying {
  @apply bg-[#8fa8de];
}
.ghost {
  @apply bg-[#5269ad];
}
.grass {
  @apply bg-[#65bc5e];
}
.ground {
  @apply bg-[#cdae51];
}
.ice {
  @apply bg-[#73cebf];
}
.normal {
  @apply bg-[#9099a2];
}
.poison {
  @apply bg-[#ab6ac8];
}
.psychic {
  @apply bg-[#f97077];
}
.rock {
  @apply bg-[#c9b68b];
}
.steel {
  @apply bg-[#5b8ea1];
}
.water {
  @apply bg-[#4d90d6];
}

/* type cards color */
.bug-card {
  background-color: color-mix(in oklab, #8fbf2b 40%, transparent);
}
.dark-card {
  background-color: color-mix(in oklab, #5b5265 40%, transparent);
}
.dragon-card {
  background-color: color-mix(in oklab, #096dc3 40%, transparent);
}
.electric-card {
  background-color: color-mix(in oklab, #f4d23b 40%, transparent);
}
.fairy-card {
  background-color: color-mix(in oklab, #ec90e7 40%, transparent);
}
.fighting-card {
  background-color: color-mix(in oklab, #ce3f6b 40%, transparent);
}
.fire-card {
  background-color: color-mix(in oklab, #fe9c55 40%, transparent);
}
.flying-card {
  background-color: color-mix(in oklab, #8fa8de 40%, transparent);
}
.ghost-card {
  background-color: color-mix(in oklab, #5269ad 40%, transparent);
}
.grass-card {
  background-color: color-mix(in oklab, #65bc5e 40%, transparent);
}
.ground-card {
  background-color: color-mix(in oklab, #cdae51 40%, transparent);
}
.ice-card {
  background-color: color-mix(in oklab, #73cebf 40%, transparent);
}
.normal-card {
  background-color: color-mix(in oklab, #9099a2 40%, transparent);
}
.poison-card {
  background-color: color-mix(in oklab, #ab6ac8 40%, transparent);
}
.psychic-card {
  background-color: color-mix(in oklab, #f97077 40%, transparent);
}
.rock-card {
  background-color: color-mix(in oklab, #c9b68b 40%, transparent);
}
.steel-card {
  background-color: color-mix(in oklab, #5b8ea1 40%, transparent);
}
.water-card {
  background-color: color-mix(in oklab, #4d90d6 40%, transparent);
}

